---
import Layout from "../layout/Layout.astro";
import Section from "../components/Section.astro";
import Profile from "../components/Profile.astro";
import Experience from "../components/Experience.astro";
import SkillSpinner from "../components/SkillSpinner.astro";
import Project from "../components/Project.astro";
import ParticlesBackground from "../components/ParticlesBackground.tsx";
---

<Layout>
	<ParticlesBackground client:load />
	<Section>
		<Profile />
		<SkillSpinner />
	</Section>
	<!-- <Section id="teck" title="Tech Stack" /> -->

	<Section id="experience" title="Experience">
		<Experience />
	</Section>

	<Section id="projects" title="Projects">
		<Project />
	</Section>
</Layout>
